<!DOCTYPE html>
<html>

<head>

    <%- include ('../partials/head.ejs'); -%>

</head>

<body>

    <div class=".container-fluid">

        <img src="covid.jpg" class="rounded float-left" id="borderimgleft">
        <img src="covid.jpg" class="rounded float-right" id="borderimgright">

        <div class="header">
            <div class="text-center" style="color:rgb(6, 3, 15)">
                <h1 class=" text-bottomn ">statistics COVID-19</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="table-responsive ">
            <table class="table table-striped ">
                <thead>
                    <tr class="text-center ">
                        <th scope="col " style="background-color:rgb(158, 36, 46); " id="bordertablecell"><b>number</b></th>
                        <th scope="col " style="background-color:rgba(184, 17, 31, 0.712); " id="bordertablecell"><b>Name</b></th>
                        <th scope="col " style="background-color:rgb(158, 36, 46); " id="bordertablecell"><b>Population</b></th>
                        <th scope="col " style="background-color:rgba(184, 17, 31, 0.712); " id="bordertablecell"><b>ConfirmedCases</b></th>
                        <th scope="col " style="background-color:rgb(158, 36, 46); " id="bordertablecell"><b>Deaths</b></th>
                        <th scope="col " style="background-color:rgba(184, 17, 31, 0.712);" id="bordertablecell"><b>Recovered</b></th>
                    </tr>
                </thead>
                <tbody class="text-center ">
                    <% for(var i=0; i < dat.length; i++) { %>
                        <tr>
                            <th style="background-color:rgba(184, 17, 31, 0.712);" id="bordertablecell">
                                <%= i %>
                            </th>

                            <td id="bordertablecellinner">
                                <%= dat[i].name %>
                            </td>
                            <td id="bordertablecellinner">
                                <%= dat[i].population %>
                            </td>
                            <td id="bordertablecellinner">
                                <%= dat[i].confirmedCases %>
                            </td>
                            <td id="bordertablecellinner">
                                <%= dat[i].deaths %>
                            </td>
                            <td id="bordertablecellinner">
                                <%= dat[i].recovered %>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <%- include ('../partials/footer.ejs'); -%>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

    </div>
</body>

</html>